*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 30px;
    border: 2.5px solid rgb(114, 161, 223) ;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.caja{
    height: 100px;
    width: 100px;
    border: 5px solid rgb(171, 112, 179);
    border-radius: 20%;
    margin: 20px 30px;
    padding: 30px;
}

.caja2{
    height: 100px;
    width: 100px;
    border: 5px solid rgb(93, 189, 144);
    border-radius: 20%;
    margin: 20px 30px;
    padding: 30px;
}

.caja3{
    height: 100px;
    width: 100px;
    border: 5px solid rgb(204, 153, 123);
    border-radius: 20%;
    margin: 20px 30px;
    padding: 30px;
}