*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Varela Round', sans-serif;
}

#ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background: #4D5155;
    padding: 2px;
  }

.nav > ul > li >a {
    display: block;
    color: #f4f4f4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }
  
  .nav > ul > li > a:hover {
    background-color: #373737;
    border-radius: 15px;
    cursor: pointer;
  }
  #logo{
    height: 40px;
    float: left;
    margin: 2px 10px;
  }


.main{
    display: flex;
       
}

.lado_izq{
    width: 50vw;
    background: skyblue;
    height: 100vh;
    font-family: 'Kaisei Decol', serif;

}

.div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    
}

.titulo{
    font-size: 70px;
    text-align: center;
}

.sub{
    font-size: 40px;
    text-align: center;
}

.nombre{
    font-size: 30px;
    text-align: center;
}

.gif{
    width: 55%;
    display: block;
  margin: auto;
}

.lado_der{
    width: 50vw;
    height: 100vh;
}

.contenedor{
margin-top: 10vh;
}

details{
    font-size: 50px;
}

a{
    margin-left: 20px;
}

ol{
 list-style-type: none;   
}


/* < = 767px*/
@media screen and (max-width : 767px){
    .lado_der{
        background-color: sandybrown;
    }
    .lado_izq{
        background-color: palevioletred;
    }
}

/* < = 768px y > = 1024*/
@media screen and (min-width : 768px) and (max-width : 1024px) {
   .lado_izq{
       background-color: mediumaquamarine;
   } 
   .lado_der{
       background-color: skyblue;
   }
}



@media screen and (min-width : 1025px) {

.lado_izq{
    background: rgb(93,118,244);
background: radial-gradient(circle, rgba(93,118,244,1) 0%, rgb(247, 191, 228) 100%);
}

.lado_der{
    background-color: white;
}
  }