*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
       
}

.lado_izq{
    width: 50vw;
    background-color:lightblue;
    height: 100vh;

}

.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo{
    font-size: 80px;
    text-align: center;
}

.sub{
    font-size: 40px;
    text-align: center;
}

.nombre{
    font-size: 30px;
    text-align: center;
}

.lado_der{
    width: 50vw;
    height: 100vh;
}

.contenedor{
margin-top: 30vh;
}

details{
    font-size: 50px;
}

a{
    margin-left: 20px;
}

ol{
 list-style-type: none;   
}


/* < = 767px*/
@media screen and (max-width : 767px){
    .lado_der{
        background-color: sandybrown;
    }
    .lado_izq{
        background-color: palevioletred;
    }
}

/* < = 768px y > = 1024*/
@media screen and (min-width : 768px) and (max-width : 1024px) {
   .lado_izq{
       background-color: mediumaquamarine;
   } 
   .lado_der{
       background-color: skyblue;
   }
}



@media screen and (min-width : 1025px) {

.lado_izq{
    background-color: powderblue;
}

.lado_der{
    background-color: white;
}
  }